a {
  color: white;
  text-decoration: none;
  display: block;
}

a:hover {
  text-decoration: none;
}

#container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#li {
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  z-index: 100;
  mix-blend-mode: luminosity;
}

#menu {
  padding: 5rem;
}

#svg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  transition: 1s;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  z-index: -1;
}
