#webdev {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100%;
}

@media screen and (max-width: 996px) {
  #webdev {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

#alphabet {
  /* animation-name: alpha-rotate; */
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@keyframes alpha-rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg) scale(1.2);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg) scale(1.2);
  }
  100% {
    transform: rotate(0);
  }
}
